%h1= @user.name
- if @user.available
  %h3.yay is available!
- else
  %h3.boo is not available :-(

-if @user.can_mentor
  %p Can mentor new users.

-if @user.wants_mentoring
  %p Would like to be mentored.

%b Time zone: 
= @user.tz_string

-if can? :edit, @user
  %br
  = link_to 'Edit', edit_user_path(@user), :class => 'btn'
